.asteroid-card {
  & {
    max-width: 920px;
    min-height: 200px;
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 16px;
  }
}

.dangerous {
  background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);
}
