.container {
    max-width: 920px;
    height: 200px;
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.leftBlock {

}
