.container {
    max-width: 920px;
    height: 150px;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
    margin-bottom: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.ul {
    display: flex;
    margin-left: auto;
    list-style: none;
}

.li {
    margin-left: 26px;
}

